    /* Global */
:root {
    /* Color */   
    --color__white : #ffffff;
    --color__pink :  #facfcf;
    --color__light-blue :  #95cbca;
    --color__yellow :  #ffcc5d;
    --color__orange :  #ff9034;
    --color__light-orange : #ffbf8b;
    --color__dart-grey :  #6d6d6d;
    --color__black : #000000;


    /* Font size */
    --font-large : 36px;
    --font-medium : 24px;
    --font-regular : 20px;
    --font-small : 16px;
    --font-micro: 14px;

    /* Font weigh */
    --weight-bold: 800;
    --weight-semi-bold: 600;
    --weight-regular : 400;

    /* Font letter spacing */
    --font__letter--spacing-plus : 7px;
    --font__letter--spacing-minus : -1px;

    /* Size */
    --margin-botton : 70px;
    /* --size-border-radius: 4px; */
    
    /* Animation */
    --animation-duration: 200ms ;


}


/* Universal tags */

*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    cursor: default;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--color__white)
}

ul{
    list-style: none;
}

li{
    list-style: none;
}


/* Typography */

/* 
h1{
    font-size: var(--font-large);
} 


h2{
    font-size: var(--font-medium);

} */

h3{
    font-size: var(--font-regular);
    font-family: 'Poiret One', cursive;

}

button{
    background-color: var(--color__dart-grey);
    border: none;
    color: var(--color__white);
    padding: 10px 20px;
}
button:hover{
    background-color:var(--color__orange)

}

/* Navbar */

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 30px 30px;
}

.navbar__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 30px 0;
}

.navbar__item{
    padding: 10px 10px;
    font-size: var(--font-micro);
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.navbar__item:hover{
    border: 1px solid #ff9034;
    border-radius: 5px;
}

.navbar__logo{
    position: absolute;
    left: 50%;
    transform: translate(-148px);
}
.navbar__logo-img{
    cursor: pointer;
}
.navbar__sns{
    display: flex;
    flex-direction: row;
    font-size: var(--font-medium);
    justify-content: space-between;
    width: 250px;
    padding: 0;
    margin: 30px 30px;

}

.navbar__icon{
    background-color: var(--color__light-blue);
    color: var(--color__white);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 41.8px;
    border-radius: 50%;
    transition: all var(--animation-duration) ease-in;
}

.navbar__icon:hover{
    transform: scale(1.2);
}

.navbar__icon:nth-child(2){
    background-color: var(--color__pink);
}

.navbar__icon:nth-child(3){
    background-color: var(--color__yellow);
}


.navbar__icon:nth-child(4){
    background-color: var(--color__orange);
}

.navbar__icon .icon{
    cursor: pointer;
}


/* Toggle Button */

.toggle__btn{
    position: absolute;
    top: 24%;
    right: 5%;
    outline: none;
    background-color: transparent;
    color: var(--color__orange);
    font-size: var(--font-large);
    display: none;

}

/* Home */

#home{
    position: relative;
    /* background: url(./img/bg_image.jpg) no-repeat center/cover;  */
    width: 100%;
    height: 600px;
    margin-bottom: var(--margin-botton);
    
}

.home__message{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 600px;
    height: 300px;
    text-align: center;
    padding: 10px 40px;
    border: 1px solid black;
    z-index: 3;
}

.home__massage-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    width: 620px;
    height: 320px;
    z-index: 2;

}
.home__box-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 620px;
    height: 320px;
    z-index: 1;
}

.home__message h1 {
    font-size: var(--font-medium);
    letter-spacing: var(--font__letter--spacing)
}

.home__message h2{
    color: var(--color__light-blue);
    font-weight: var(--weight-regular);
    
}

.home__box{
    width: 600px;
    height: 300px;
    position: absolute;
}

.blue{
    background-color: var(--color__light-blue);
    top: -30px;
    left: -30px;
}

.orange{
    background-color: var(--color__light-orange);
    top: 60px;
    left: -120px;
}

.pink{
    background-color: var(--color__pink);
    left: -240px;
}

.person{
    width: 750px;
    height: 450px;
    background: url(./img/home-person.png) no-repeat center/cover;
    top: -60px;
    left: 240px;
    z-index: -1;
}



/* About */

#about{
    width: 100%;
    background-color: var(--color__light-blue);
    margin-bottom: var(--margin-botton);
}

.section__container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}
#about .font__change{
    font-size: var(--font-regular);
    color: var(--color__white);
}



/* Introduction */

#introduction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: var(--margin-botton);
}


.img__container{
    background: url(./img/profile.jpeg) center/cover;
    flex-basis: 50%;
}

.introduction__container{
    background-color: var(--color__pink);
    padding: 30px 50px;
    flex-basis: 50%;
    text-align: center;
}

.introduction__container-box{
    margin: 0 auto;
    max-width: 600px;
}
.introduction__container h1{
    font-size: var(--font-large);
    letter-spacing: var(--font__letter--spacing-plus) ;
    color: var(--color__white);
    margin-bottom: 10px;
}

.introduction__container h2{
    display: inline-block;
    padding: 0 10px;
    font-size: var(--font-micro);
    font-weight: var(--weight-regular);
    letter-spacing: var(--font__letter--spacing-minus);
    color: var(--color__white);
    background-color: var(--color__dart-grey);
    margin-bottom: 20px;
}
.introduction__container h3 {
    font-size: var(--font-micro);
    margin-bottom: 20px;
}

.introduction__container .font__change {
    letter-spacing: var(--font__letter--spacing-plus);
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 30px;
    color: var(--color__white);
}



/* Menual */

#menual{
    background-color: rgb(255, 243, 228);
    position: relative;
    padding: 40px;

}

.paragraph{
    position: absolute;
    font-weight: var(--weight-bold);
    font-size: var(--font-large);
    color: var(--color__white);
    letter-spacing: var(--font__letter--spacing-plus);
    transform: translateX(-50%);
    left: 50%;
    top: 18% ;
}

.menual__maxWidth{
    max-width: 1100;
    margin: 0 auto; 
    padding: 30px;
}
.menual__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menual__item{
    text-align: center;
    width: 400px;
    height: 500px;
    padding: 10px;

}

.menual__item:nth-child(1){
    background-color: var(--color__pink);
}
.menual__item:nth-child(2){
    background-color: var(--color__light-blue);
}
.menual__item:nth-child(3){
    background-color: var(--color__light-orange);
}

.menual__img-logo{
    font-size: var(--font-medium);
    background-color: var(--color__white);
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 50%;
    margin: 20px auto;
    margin-top: 120px;
}

.menual__img-logo, i {
    cursor: pointer;
}
.menual__item .menual__img-logo:hover{
    transform: scale(1.1);
    transition: all var(--animation-duration) ease-in;
}


.menual__item:nth-child(1) .menual__img-logo{
    color: var(--color__pink);
}

.menual__item:nth-child(2) .menual__img-logo{
    color: var(--color__light-blue);
}
.menual__item:nth-child(3) .menual__img-logo{
    color: var(--color__light-orange);
}

.menual__title{
    margin-bottom: 20px;
    color: var(--color__white);
    letter-spacing: var(--font__letter--spacing-plus);
}

.menual__description{
    width: 300px;
    margin: 0 auto;
    margin-bottom: 80px;
}


/* Contact */

#contact{
    background-color: #ff9034;
    margin-bottom: var(--margin-botton);
}

.contact__container{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}


.contact__container h1{
    font-size: var(--font-medium);
    letter-spacing: var(--font__letter--spacing-plus);
    color: var(--color__white);
    margin-bottom: 10px;
}
.contact__container h3{
    font-size: var(--font-micro);
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 20px;

}

.contact__btn{
    margin-left: 20px;
}
.contact__btn:hover{
    background-color: var(--color__light-blue);
}

input{
    width: 180px;
    height: 36px;
}


/* Review */

#review{
    background-color: var(--color__light-blue);
    padding-bottom: 30px;
    margin-bottom: var(--margin-botton)
}

.review{
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    display: flex;

}
.review__client-say{
    padding: 20px 0;
    text-align: center;
    color: var(--color__white);
    letter-spacing: var(--font__letter--spacing-plus);

}

.client__img{
    max-width: 180px;
    max-height: 180px;
    border-radius: 50%;
    flex-basis: 20%;
    filter: grayscale(100%);
}

.review__client-info{
    padding-left: 30px;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}

.client__name{
    padding: 20px 0;
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    background: left/80% url(./img/bg_label.png) no-repeat  ;
}
.client__info{
    font-size: var(--font-micro);
    font-family: 'Poiret One', cursive;
}

.review__client-description{
    flex-basis: 50%;
    font-family: 'Poiret One', cursive;
    align-self: center;
    text-align: justify;
    padding-left: 15px;
}


/* links */

#links{
    background: center/10% url(./img/Pattern.png);
    padding-bottom: 30px;
}
.links{
    margin: 0 auto;
    max-width: 1000px;
}

.links__title{
    padding: 20px 0;
    text-align: center;
    color: var(--color__black);
    font-family: 'Work Sans', sans-serif;
    font-weight: var(--weight-bold);
    font-size: var(--font-regular);
    letter-spacing: var(--font__letter--spacing-plus);
}
.links__img-container{ /*gallery*/
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    max-width: 1000px;
}

.links__img-container:nth-child(1){
    flex-basis: 20%;
}
.links__img-container:nth-child(2){
    flex-basis: 20%;
}
.links__img-container:nth-child(3){
    flex-basis: 20%;
}
.links__img-container:nth-child(4){
    flex-basis: 20%;
}
.links__img-container:nth-child(5){
    flex-basis: 20%;
}

.album__container{ /*GL*/
    display: flex;
    width: 180px;
    height:180px;
    gap: 10px ;
    border: 5px solid var(--color__white);
    border-radius: 5px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;;
}
.album__container:hover{
    transform: scale(1.1);
    transition: all var(--animation-duration) ease-in;

}

.album{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* For below 768px screen width */

@media screen and (max-width: 1400px){

    :root{

        
    
    } 


}