@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@300;400;500;600;700&display=swap'); 
    
    /* Global */
 :root {
    /* Color */   
    --color__white : #ffffff;
    --color__pink :  #facfcf;
    --color__light-green :  #a7dab0;
    --color__yellow :  #ffe53e;
    --color__hot-pink : rgb(247, 117, 86);
    --color__dart-grey :  #6d6d6d;
    --color__black : #000000;


    /* Font size */
    --font-large : 30px;
    --font-medium : 24px;
    --font-regular : 20px;
    --font-tiny : 18px;
    --font-small : 16px;
    --font-micro: 14px;

    /* Font weigh */
    --weight-bold: 800;
    --weight-semi-bold: 600;
    --weight-regular : 400;

    /* Font letter spacing */
    --font__letter--spacing-plus : 8px;
    --font__letter--spacing-minus : -1px;

    /* Size */
    --margin-botton : 70px;
    /* --size-border-radius: 4px; */
    
    /* Animation */
    --animation-duration: 0.3s ;

}


/* Universal tags */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    cursor: default;
}

body,html{
    width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

/* Typography */

h2,h3{
    font-family: 'Poiret One', cursive;
}

button{
    background-color: var(--color__dart-grey);
    color: var(--color__white);
    border: transparent;
    padding: 10px;
}

/* Navbar */

#navbar{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar__menu{
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
    font-size: var(--font-small); 
}

.navbar__item{
    padding: 10px 10px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all var(--animation-duration) ease;
}
.navbar__item:hover{
    border: 1px solid var(--color__hot-pink);
    border-radius: 3px;
}
.navbar__item{
    padding: 10px 10px;
}
.navbar__logo{
    flex-basis: 35%;
    display: flex;
    justify-content: center; 
    position: relative;
}
.navbar__logo img{
    cursor: pointer;
}


.navbar__sns{
    flex-basis: 28%;
    display: flex;
    justify-content: right;

}

.navbar__sns .navbar__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    background-color: var(--color__light-green);
    border-radius: 50%;
    transition: all var(--animation-duration) ease-in;
}

.navbar__sns .navbar__icon i {
    font-size: var(--font-medium);
    cursor: pointer;
    color: var(--color__white);
}    

.navbar__icon:hover{
    transform: scale(1.2);
}

.navbar__icon:nth-child(2){
    background-color: var(--color__pink);
}

.navbar__icon:nth-child(3){
    background-color: var(--color__yellow);
}

.navbar__icon:nth-child(4){
    background-color: var(--color__hot-pink);
}


/* Home */

#home{
    /* background-image: url(./img/bg_image.webp); */
    background-image: url(./img/test.PNG);
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home__message{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    max-width: 550px;
    height: 300px;
    position: relative;
    background-color: white;
    padding: 20px 30px;
    box-shadow: rgba(122, 117, 104, 0.192) 0px 0px 30px 0px;
}

.home__message::before{
    content: "";
    position: absolute;
    border: 1px solid black;
    left: 5px;
    width: 540px;
    height: 290px
}

.home__message h1,h2,h3{
    text-align: center;
}

.home__message h1{
    letter-spacing: var(--font__letter--spacing-plus);
}

.home__message h2{
    color: var(--color__light-green);
    font-size: var(--font-regular);
}

.home__message h3{
    font-size: var(--font-tiny);
    font-weight: var(--weight-regular);
}


/* About */

#about{
    width: 100%;
    height: 300px;
    background-color: var(--color__light-green);
    margin-bottom: 80px;
}

.section__container{
    width: 100%;
    max-width: 650px;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section__container h3{
    font-size: var(--font-tiny);
    font-weight: var(--weight-regular);
}

.section__container h2{
    font-family: 'Work Sans', sans-serif;
    color: var(--color__white);
    font-size: var(--font-tiny);
    font-weight: var(--weight-semi-bold);
}

button.about__btn a{
    color: var(--color__white);
}